.create {
    width: 80%;
    max-width: 768px;
    margin: auto;

    & form {
        background-color: #FFCF9D;
        padding: 20px;
        border-radius: 12px;
    }

    & span {
        display: block;
        margin-bottom: 0.25rem;
        font-size: 18px;
        font-weight: 700;
    }

    & input {
        margin-bottom: 0.75rem;
        font-size: 18px;
    }

    & textarea {
        margin-bottom: 0.5rem;
        font-family: Raleway, sans-serif;
        font-size: 16px;
    }

    & .ingredients-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    & .form-button {
        margin-top: 0.25rem;
    }

    & ul {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    & li {
        font-size: 16px;
    }
}