.navbar {
    background: #FFCF9D;
    padding: 20px;
    color: #004225;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);

    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        color: #004225;
    }

    & a.brand {
        margin-right: auto;
        color: #004225;
        text-decoration: none;
    }

    & a:last-child {
        color: #004225;
        text-decoration: none;
        margin-left: 40px;
        padding: 8px;
        border: 2px solid #fff;
        border-radius: 8px;
    }

    & a:last-child:hover {
        background: #004225;
        color: #eee;
    }
}

.theme-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 15px 10px 0 0;

    & button {
        width: 15px;
        padding: 8px;
        border-radius: 100%;
        gap: 5px;
    }
}

@media screen and (max-width: 968px) {
    nav {
        font-size: 16px;
        padding: 0 15px 0 0;
    }
}